.idea
.vscode
.xmake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeCache.txt
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Solution
build
.DS_Store

SDKs
